[submodule "external/babylon"]
	path = external/babylon
	url = https://github.com/babylonlabs-io/babylon
	branch = base/consumer-chain-support
[submodule "external/vigilante"]
	path = external/vigilante
	url = https://github.com/babylonlabs-io/vigilante
[submodule "storage-contract"]
	path = storage-contract
	url = https://github.com/babylonlabs-io/storage-contract
