[submodule "external/babylon"]
	path = external/babylon
	url = https://github.com/babylonchain/babylon.git
[submodule "external/vigilante"]
	path = external/vigilante
	url = https://github.com/babylonchain/vigilante
