[submodule "babylon-private"]
	path = babylon-private
	url = git@github.com:babylonchain/babylon-private.git
[submodule "faucet"]
	path = faucet
	url = git@github.com:babylonchain/faucet
[submodule "contrib/images/ibcsim-wasmd/babylon-contract"]
	path = contrib/images/ibcsim-wasmd/babylon-contract
	url = git@github.com:babylonchain/babylon-contract.git
[submodule "btc-staker"]
	path = btc-staker
	url = git@github.com:babylonchain/btc-staker.git
[submodule "vigilante-private"]
	path = vigilante-private
	url = git@github.com:babylonchain/vigilante-private.git
[submodule "finality-provider"]
	path = finality-provider
	url = git@github.com:babylonchain/finality-provider.git
